# Archivos "basura"
Student/.vscode/
Student/ring_2/push_swap/.vscode/
Student/ring_2/push_swap/*.o
Student/ring_2/push_swap/*.out
Student/ring_2/push_swap/**/*.o
Student/ring_2/push_swap_alpha/

Student/ring_2/push_swap_remaster/tester/
Student/ring_2/push_swap_remaster/0
Student/ring_2/push_swap_remaster/checker_linux
Student/ring_2/push_swap_remaster/push_swap_test_linux.sh
Student/ring_2/push_swap_remaster/traces.txt
Student/ring_2/push_swap_remaster/.vscode/
Student/ring_2/push_swap_remaster/*.o
Student/ring_2/push_swap_remaster/*.out
Student/ring_2/push_swap_remaster/**/*.o
